<div class="orders-container">
<div class="header-container">
  <div class="header">
    <h3 class="Postulaciones-title">Eventos a postular</h3>
  </div>
</div>

<div class="orders-list">
  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Noche de Musica Electronica</p>
          <div class="details-container">

            <p><strong>Genero:</strong>  Electronica</p>
            <p><strong>Date:</strong> Jun 1 2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 3}">Postular</a>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Concierto de rock</p>
          <div class="details-container">

            <p><strong>Rock:</strong> Rock</p>
            <p><strong>Date:</strong> May 20 2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 1}">Postular</a>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Festival de Musica Clasica</p>
          <div class="details-container">

            <p><strong>Genero:</strong> Clasica</p>
            <p><strong>Fecha:</strong>  Jun 10, 2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 4}">Postular</a>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Concierto de Pop</p>
          <div class="details-container">

            <p><strong>Genero:</strong> Pop</p>
            <p><strong>Fecha:</strong> Jun 15 2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 5}">Postular</a>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Festival de Reggae</p>
          <div class="details-container">

            <p><strong>Genero:</strong> Reggae</p>
            <p><strong>Fecha:</strong>  Jun 20 2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 6}">Postular</a>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Festival de Hip Hop</p>
          <div class="details-container">

            <p><strong>Genero:</strong> Hip Hop</p>
            <p><strong>Fecha:</strong> Jun 25,2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 7}">Postular</a>

        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Noche de Salsa</p>
          <div class="details-container">

            <p><strong>Genero:</strong> Salsa</p>
            <p><strong>Fecha:</strong> Jun 12,2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 8}">Postular</a>

        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Festival de Musica Indie</p>
          <div class="details-container">

            <p><strong>Genero:</strong>  Indie</p>
            <p><strong>Fecha:</strong> Jul 5 2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 9}">Postular</a>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Concierto de Blues</p>
          <div class="details-container">

            <p><strong>Genero:</strong> Blues</p>
            <p><strong>Fecha:</strong> Jul 10,2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 10}">Postular</a>

        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Festival de Musica Country</p>
          <div class="details-container">

            <p><strong>Genero:</strong> Country</p>
            <p><strong>Fecha:</strong> Jul 15,2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 11}">Postular</a>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="order-card">
    <mat-card appearance="outlined">
      <div class="order-content">

        <div class="info-container">
          <p class="order-title">Noche de Flamenco</p>
          <div class="details-container">

            <p><strong>Genero:</strong> Flamenco</p>
            <p><strong>Fecha:</strong> Jun 20,2025</p>
          </div>
          <a class="read-more-button" [routerLink]="['/postulations-details'] " [queryParams]="{eventId: 12}">Postular</a>
        </div>
      </div>
    </mat-card>
  </div>



</div>
</div>
