.profile-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.profile-container {
  display: flex;
  align-items: flex-start;
}

.profile-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.profile-details {
  flex: 1;
}

mat-card-actions button {
  padding: 10px;
  background-color: #e0a800;
  width: auto;
  min-width: unset;
  border-radius: 4px;
}
